<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CurrentX" value="1" />
    <add key="CurrentY" value="2" />
    <add key="MaxX" value="10" />
    <add key="MaxY" value="10" />
    <add key="Direction" value="North" />
    <add key="baseUrl" value="http://localhost:61177" />
  </appSettings>
</configuration>